﻿@page
@model BlogEngine.Pages.Posts.DetailsModel
@inject BlogEngine.Services.UserExtendManager manager;
@inject Microsoft.AspNetCore.Identity.SignInManager<BlogEngine.Models.ApplicationUser> SignInManager
@using BlogEngine.Controllers;

@{
    Layout = "_LayoutMain";
}
<section class="Material-blog-post-page section-padding">
    <div class="container">
        <div class="row">

            <div class="single-blog-page col-md-12 col-lg-8 col-xs-12">
                <article class="single-post wow fadeInUp animated animated animated" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">

                    @if (manager.IsCurrentUserIsOwner(User, Model.Posts.User.Id))
                    {
                        <a asp-page="/Posts/Edit" asp-route-id="@Model.Posts.PostId" class="mt-3 btn btn-common float-right">@localizer["Edit"]<div class="ripple-container"></div></a>
                    }


                    <h2>@Model.Posts.Title</h2>
                    <div>@Html.Raw(Model.Posts.Content)</div>
                    <div class="single-post-meta">
                        <div class="post-tag">
                            @foreach (var c in Model.Posts.Categories)
                            {
                                <a asp-controller="BlogList" asp-action="ViewByCategory" asp-route-id="@c.CategoryId"><i class="material-icons mdi mdi-bookmark-outline"></i>@c.Category.CategoryName</a>
                            }

                        </div>
                        @*<div class="share-post">
                                <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><i class="fa fa-facebook"></i></a> <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><i class="fa fa-twitter"></i></a> <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><i class="fa fa-google-plus"></i></a> <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><i class="fa fa-pinterest"></i></a>
                            </div>*@
                    </div>
                </article>
                <vc:comment post-id="@Model.Posts.PostId" comment-id="0"></vc:comment>
               
            </div>

            <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">

                <vc:author></vc:author>

                <vc:dock-category allow-manage="true" top-category="0"></vc:dock-category>

            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
      var showReply = '@Url.Action(nameof(CommentController.GetCommentChilds), "Comment")';
        var postCommentUrl = '@Url.Action(nameof(CommentController.PostComment), "Comment")';
        var userName = '@manager.GetUserName(User)';
        var email = '@(await manager.GetEmail(User))';
        var userId = '@manager.GetUserId(User)';
        var parentPostID=@Model.Posts.PostId;
    </script>
    <script src="@Url.Content("~/js/user.post.detail.js")"></script>
}