﻿@page
@model BlogEngine.Pages.Posts.EditModel

@{
    Layout = "_LayoutMain";
}
<section class="Material-blog-post-page section-padding section-dark">
    <div class="container">

        <div class="row ">
            <div class="col-md-8 box-shadow">
                <form id="editPost" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Posts.PostId" />
                    <input type="hidden" asp-for="Posts.Categories" />
                    <input type="hidden" asp-for="Posts.CreatedDate" />
                    <div class="form-group">
                        <label asp-for="Posts.Title" class="control-label"></label>
                        <input asp-for="Posts.Title" class="form-control" />
                        <span asp-validation-for="Posts.Title" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Posts.Content" class="control-label"></label>

                        <div>
                            <div asp-for="Posts.Content" class="form-control wys-content" />
                        </div>
                        <span asp-validation-for="Posts.Content" class="text-danger"></span>
                        <input type="hidden" id="postContentHidden" asp-for="Posts.Content" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedCategories" class="control-label"></label>
                        <input class="magicsearch" id="selectCategory" placeholder="Select categories...">
                        <input type="hidden" id="selectedCategories" asp-for="SelectedCategories" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@localizer["Update"]" class="btn btn-common" />
                    </div>
                </form>

            </div>
            <div>
                <a asp-page="./Index">@localizer["Back to List"]</a>
            </div>
        </div>



    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        var categories =@Html.Raw(Json.Serialize(Model.Categories));
        $(function () {
            $('.wys-content').summernote({ height: 300 });
            $('.wys-content').summernote('code',$('#postContentHidden').val());
            $('#editPost').submit(function () {
                $('#postContentHidden').val($('.wys-content').summernote('code'));
                $('#selectedCategories').val($('#selectCategory').attr('data-id'));
            });
            $('#selectCategory').attr('data-id', $('#selectedCategories').val())
                .magicsearch({
                dataSource: categories,
                fields: ['categoryName'],
                id: 'categoryId',
                format: '%categoryName%',
                multiple: true,
                multiField: 'categoryName',
                noResult: 'No record',
                focusShow: true
            });

        });
    </script>
}

