﻿@page
@model BlogEngine.Pages.Posts.IndexModel
@using BlogEngine.Controllers;
@{
    Layout = "_LayoutMain";
}
@inject BlogEngine.Services.UserExtendManager UserManager
<section class="Material-blog-post-page section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8 col-xs-12 blog-post-column">
                <div class="row">
                    @Html.Partial("Partials/PostItem", Model.Posts)

                    <div class="col-md-12 text-center mt-3 blog-pagination wow animated fadeInUp" data-wow-delay=".4s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
                        <a href="javascript:void(0)" class="btn btn-common"><i class="material-icons mdi mdi mdi-autorenew"></i> Load More Stories<div class="ripple-container"></div></a>
                    </div>

                </div>
            </div>


            <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">

                <vc:author user="@await UserManager.GetUserAsync(User)"></vc:author>

                <div id="listCategory">
                    <vc:dock-category allow-manage="true" top-category="0"></vc:dock-category>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        var addNewCategoryUrl = '@Url.Action(nameof(CategoryController.CreateCategory), "Category")';
        var updateCategoryUrl = '@Url.Action(nameof(CategoryController.UpdateCategory), "Category")';
        var deleteCategoryUrl='@Url.Action(nameof(CategoryController.DeleteCategory), "Category")';
    </script>
    <script src="@Url.Content("~/js/user.category.js")"></script>
}
