﻿@model List<BlogEngine.Models.ContentViewModels.Comment>
@inject BlogEngine.Services.UserExtendManager userExtendManager;

@foreach (var item in Model)
{
    var commentCount = item.ChildComments.Count;
    <div class="media">
        <div class="media-left">
            <img width="30" height="30" src="@(item.User.AvatarUrl??string.Empty)" alt="">
        </div>
        <div class="media-body">
            <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><h3>@userExtendManager.GetFullNameOrEmail(item.User)</h3></a>
            <p>@item.Description</p>
            @if (commentCount > 0)
    {
            <a data-comment-id="@item.CommentId" class="show-reply">View @item.ChildComments.Count @localizer["Reply"]</a>
}
            <a class="replay">@localizer["Reply"]</a>
            <div class="reply-container">
            </div>
            <div class="clearfix"></div>
            <div  data-comment-id="@item.CommentId" class="post-reply"></div>
        </div>
    </div>


}