﻿@model BlogEngine.Models.ContentViewModels.Posts
@inject BlogEngine.Services.UserExtendManager userExtendManager;
@inject SignInManager<ApplicationUser> signInManager;

<div class="users-comment-section mt-2 wow animated fadeInUp animated" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">
    <ul class="no-sym">
        @foreach (var item in Model.ChildComments)
        {
            var commentCount = item.ChildComments.Count;

            <li>
                <div class="media">
                    <div class="media-left">
                        <img width="30" height="30" src="@(item.User.AvatarUrl??string.Empty)" alt="">
                    </div>
                    <div class="media-body">
                        <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><h3>@userExtendManager.GetFullNameOrEmail(item.User)</h3></a>
                        <p>@item.Description</p>

                        @if (commentCount > 0)
    {
                        <a data-comment-id="@item.CommentId" class="show-reply">View @item.ChildComments.Count @localizer["Reply"]</a>
}
                        <a class="replay">@localizer["Reply"]</a>
                        <div class="reply-container no-sym"></div>
                        <div class="clearfix"></div>
                        <div data-comment-id="@item.CommentId" class="post-reply"></div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="clearfix">
    <a id="commentAdd" class="mt-3 btn btn-common pointer float-right"><i class="mdi mdi-message-text"></i>@localizer["Post Comment"]<div class="ripple-container"></div></a>
</div>
<div id="masterCommentContainer">
    <div id="commentContainer" class="comment-box clearfix " style="display:none;">
        <form id="commentForm">
            <div class="form-group">
                @if (signInManager.IsSignedIn(User))
        {
            var user = await userExtendManager.GetUserAsync(User);
            <div class="media">
                <div class="media-left">
                    <img width="30" height="30" src="@(user.AvatarUrl??string.Empty)" alt="">
                </div>
                <div class="media-body">
                    <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><h3>@(user.FullName ?? user.Email)</h3></a>
                </div>
            </div>

}
else
{
        <div class="col-md-4 ">

            <div class="form-group label-floating is-empty">
                <label class="sr-only" for="name">Email</label>
                <input type="text" placeholder="Your Name" id="name" name="name" required="" class="form-control">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="form-group label-floating is-empty">
                <label class="sr-only" for="useremail">Email</label>
                <input type="email" placeholder="Email Address" id="useremail" name="useremail" required="" class="form-control">
            </div>
        </div>
}


                <div class="form-group label-floating col-md-12 is-empty">
                    <label class="sr-only" for="usermessage">Message</label>
<textarea placeholder="Type here message" id="usermessage" name="usermessage" rows="7" required="" class="form-control"></textarea>
                </div>
            </div>
            <a id="commentSubmit" class="mt-3 btn btn-common pointer"><i class="mdi mdi-message-text"></i>@localizer["Post Comment"]<div class="ripple-container"></div></a>
            <a id="commentCancel" class="mt-3 btn btn-common pointer">@localizer["Cancel"]<div class="ripple-container"></div></a>
        </form>
    </div>
</div>
