﻿@model BlogEngine.Models.ContentViewModels.Comment
@inject BlogEngine.Services.UserExtendManager userExtendManager;


@{var commentCount = Model.ChildComments.Count; }
<div class="media">
    <div class="media-left">
        <img width="30" height="30" src="@(Model.User.AvatarUrl??string.Empty)" alt="">
    </div>
    <div class="media-body">
        <a href="http://preview.uideck.com/items/material-demo/blog-single.html#"><h3>@userExtendManager.GetFullNameOrEmail(Model.User)</h3></a>
        <p>@Model.Description</p>
        @if (commentCount > 0)
    {
        <a data-comment-id="@Model.CommentId" class="show-reply">View @Model.ChildComments.Count @localizer["Reply"]</a>
}
        <a class="replay">@localizer["Reply"]</a>
        <div class="reply-container">
        </div>
        <div class="post-reply"></div>
    </div>
</div>


