<div class="users-comment-section mt-2 wow animated fadeInUp" data-wow-delay=".3s" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">
  <ul>

    <li *ngFor="let c of comments" class="media">
      <div class="media-left">
        <img width="50" height="50" src={{c.avatarUrl}} alt="">
      </div>
      <div class="media-body">
        <a href="#"><h3>{{c.userName}}</h3></a>
        <p>{{c.content}}</p>
      </div>
    </li>

  </ul>
</div>

<form *ngIf="loggedIn" id="commentForm"  name="form" (ngSubmit)="f.form.valid && postComment()" #f="ngForm" novalidate>
  <div class="form-group">

    <div class="media">
      <div class="media-left">
        <img width="50" height="50" src={{avatar}} alt="">
      </div>
      <div class="media-body">
        <a href="#"><h3>{{displayName}}</h3></a>
      </div>
    </div>

    <div class="form-group label-floating col-md-12 is-empty">
      <label class="sr-only" for="usermessage">Message</label>
      <textarea placeholder="Type here message" id="usermessage" name="usermessage" rows="7" [(ngModel)]="model.content" #content="ngModel" required class="form-control"></textarea>
      <div *ngIf="f.submitted && !content.valid" class="text-danger">This field is required</div>
    </div>
  </div>
  <button id="commentSubmit" class="mt-3 btn btn-common pointer"><i class="mdi mdi-message-text"></i>Post Comment<div
      class="ripple-container"></div></button>
  <a (click)="clearComment()" id="commentCancel" class="mt-3 btn btn-common pointer">Cancel<div class="ripple-container"></div></a>
</form>