﻿@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}
<section class="Material-blog-post-page section-padding">
    <div class="container">
        @Html.Partial("_StatusMessage", Model.StatusMessage)

        <div class="row">

            <div class="col-md-6">
                <form method="post" id="formUser">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" class="form-control" />

                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" disabled />
                        <input type="hidden" asp-for="AvatarUrl" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="input-group">
                                <input asp-for="Email" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                        }
                        else
                        {
                            <input asp-for="Email" class="form-control" />
                            <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        }
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                        <label asp-for="Position"></label>
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>

                        <label asp-for="BriefDescription"></label>
                        <input asp-for="BriefDescription" class="form-control" />
                        <span asp-validation-for="BriefDescription" class="text-danger"></span>
                    </div>
                    <button type="submit" id="btnSave" class="btn btn-common">Save</button>

                </form>
            </div>

            <div class="col-md-6">
                <div>
                    <label for="fileupload" class="btn btn-common">Change your avatar</label>
                    <input type="file" id="fileupload" class="d-none" onchange="encodeImageFileAsURL(this)" />
                </div>
                @*<span asp-validation-for="Posts.Content" class="text-danger"></span>*@
                <img src="@Model.AvatarUrl" class="border-dot" width="400" height="450" id="testImg" />
            </div>

        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $(function () {
            $('#formUser').submit(function () {
                $('#AvatarUrl').val($('#testImg').attr('src'));
             });
        });

        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                $('#testImg').attr('src', reader.result);
            }
            reader.readAsDataURL(file);
        }

    </script>
}
