
<section class="Material-blog-post-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <h4>Use a local account to log in.</h4>
                <hr />
                <div *ngFor="let err of errors" class="text-danger validation-summary-errors" data-valmsg-summary="true">
                    <ul>
                        <li>{{err}}</li>
                  </ul>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required email />
                    <div *ngIf="f.submitted && !email.valid" class="text-danger">Please input correct email</div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password"
                  [(ngModel)]="model.password"
                  #password="ngModel"
                  required>
                  <div *ngIf="f.submitted && !password.valid" class="text-danger">Password is required</div>
                </div>
                
                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-common">Login</button>
                </div>
                
            </form>
            </div>
            
        </div>
    </div>
  </section>