﻿@model ApplicationUser

<aside class="col-md-12 single-sidebar-widget author-widget no-padding wow animated fadeInUp animated animated" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
    <div class="author-bg">
        <img src="~/assets/images/blog/author-bg.jpg" alt="">
    </div>
    <div class="author-info">
        <div class="author-name">
            <div class="author-intro">
                <h3>@Model.FullName</h3>
                <p>@Model.Position</p>
            </div>
            <div class="author-image">
                <img src="@Model.AvatarUrl" width="60" height="60" class="img-circle" alt="">
            </div>
        </div>
        <div class="author-bio">
            <p>@Model.BriefDescription</p>
        </div>
    </div>
</aside>
