<aside class="col-md-12 single-sidebar-widget flickr-widget no-padding wow animated fadeInUp" data-wow-delay=".4s" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
  <div class="sidebar-widget-title">
      <h2>
          <span>Authors</span>

      </h2>
     
  </div>
  <ul class="categories-list">
      <li>
          <div class="clearfix"></div>
      </li>

      <li *ngFor="let au of authors">
          <a class="link-category"  [routerLink]="['/home',0,au.authorId]">{{au.authorName}}</a>
      </li>
  </ul>
</aside>
