﻿@model List<BlogEngine.Models.ContentViewModels.Posts>
@foreach (var item in Model)
{
    <div class="col-md-6 wow animated fadeInUp" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
        <article class="single-blog-post">
            <div class="featured-image">
                <a asp-page="/Posts/Details" asp-route-id="@item.PostId">
                    @Html.Raw(HtmlHelperExtensions.ToFirstImage(item.Content, Url))
                </a>
            </div>
            <div class="post-meta">
                <div class="post-date">
                    <span><b>@item.CreatedDate.ToString("dd MMM yyyy")</b></span>
                </div>
                <a asp-page="/Posts/Details" asp-route-id="@item.PostId"><h2 class="subtitle">@item.Title</h2></a>
                <p>@Html.Raw(HtmlHelperExtensions.RemoveFirstImage(item.Content))</p>
            </div>
            <div class="meta-tags">
                <span class="comments"><a asp-page="/Posts/Details" asp-route-id="@item.PostId"><i class="mdi mdi-comment-outline"></i> @item.ChildComments.Count @localizer["Comments"]</a></span>
                <a class="btn btn-round btn-fab" asp-page="/Posts/Details" asp-route-id="@item.PostId"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
            </div>
        </article>
    </div>
}