<section class="Material-blog-post-page section-padding section-dark">
  <div class="container">
      <div class="row ">
          <div class="col-md-8 box-shadow">
              <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
                    <div *ngIf="f.submitted && !title.valid" class="text-danger">Please input Title</div>
                  </div>
                  <div class="form-group">
                      <label asp-for="Posts.Content" class="control-label"></label>
                      <div>
                        <quill-editor [style]="{height: '250px'}" [(ngModel)]="model.content" name="content" #content="ngModel" required ></quill-editor>
                      </div>
                      <div *ngIf="f.submitted && !content.valid" class="text-danger">Please input Content</div>
                  </div>
                  <div class="form-group dropdown-50">
                    <ng-multiselect-dropdown
                    [placeholder]="'Please choose categories'"
                    [data]="model.dropdownList"
                    [(ngModel)]="model.selectedItems"
                    [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings"
                  >
                  </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-common">Save</button>
                  </div>
              </form>
              <div>
                <a asp-page="Index">Back To List</a>
            </div>
          </div>
          
      </div>

      

  </div>
</section>
