<section class="Material-blog-post-page section-padding">
  <div class="container">
      <div class="row">

          <div class="col-md-6">
            <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <hr />
                <div *ngFor="let err of errors" class="text-danger validation-summary-errors" data-valmsg-summary="true">
                    <ul>
                        <li>{{err}}</li>
                    </ul>
                </div>
                <div *ngFor="let suc of success" class="text-success validation-summary-success" data-valmsg-summary="true">
                    <ul>
                        <li>{{suc.message}}</li>
                    </ul>
                </div>
                  <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName" #fullName="ngModel" />
                    <div *ngIf="f.submitted && !fullName.valid" class="text-danger">Please input full name</div>

                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required readonly />
                  </div>
                  
                  <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" />
                    <div *ngIf="f.submitted && !phoneNumber.valid" class="text-danger">Please input phone number</div>

                    <label for="position">Position</label>
                    <input type="text" class="form-control" name="position" [(ngModel)]="model.position" #position="ngModel" />
                    <div *ngIf="f.submitted && !position.valid" class="text-danger">Please input position</div>

                    <label for="briefDescription">Brief Description</label>
                    <input type="text" class="form-control" name="briefDescription" [(ngModel)]="model.briefDescription" #briefDescription="ngModel" />
                    <div *ngIf="f.submitted && !briefDescription.valid" class="text-danger">Please input brief description</div>
                  </div>
                  <div class="form-group">
                    <button [disabled]="loading" class="btn btn-common">Save</button>
                  </div>

              </form>
          </div>

          <div class="col-md-6">
              <div>
                  <label for="fileupload" class="btn btn-common">Change your avatar</label>
                  <input type="file" id="fileupload" class="d-none" (change)="encodeImageFileAsURL($event.target.files)" />
              </div>
              <img src={{model.avatarUrl}} class="border-dot" width="400" height="450" id="testImg" />
          </div>

      </div>
  </div>
</section>