<div *ngFor="let item of posts" class="col-md-6 wow animated fadeInUp" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
  <article class="single-blog-post">
      <div class="featured-image">
          <a [routerLink]="['/blogdetail',item.postId]" innerHtml="{{item.FirstImage}}">
          </a>
      </div>
      <div class="post-meta">
          <div class="post-date">
              <span>{{item.createdDate | date:'dd MMM yy'}} - {{item.authorName}}</span>
          </div>
          <a [routerLink]="['/blogdetail',item.postId]"><h2 class="subtitle">{{item.title}}</h2></a>
          <p innerHtml="{{item.RemovedFirstImage}}"></p>
      </div>
      <div class="meta-tags">
          <span class="comments"><a [routerLink]="['/blogdetail',item.postId]"><i class="mdi mdi-comment-outline"></i> {{item.childCommentCount}} Comments</a></span>
          <a class="btn btn-round btn-fab" [routerLink]="['/blogdetail',item.postId]"><i class="material-icons mdi mdi-arrow-right"></i><div class="ripple-container"></div></a>
      </div>
  </article>
</div>