<aside class="col-md-12 single-sidebar-widget flickr-widget no-padding wow animated fadeInUp" data-wow-delay=".4s" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
    <div class="sidebar-widget-title">
        <h2>
            <span>Categories</span>
            <a *ngIf="ownCategory" class="btn btn-fab add-category" (click)="toggleAddingCategory()">
                <i class="material-icons mdi mdi-plus">
                </i>
            </a>
        </h2>
       
    </div>
    <ul class="categories-list">
        <li>
                <form *ngIf="addingCategory" name="form" (ngSubmit)="f.form.valid && saveNewCategory()" #f="ngForm" novalidate>
                        <div class="form-group label-floating ">
                            <input type="text" class="form-control" name="newCategory" [(ngModel)]="model.categoryName" #newCategory="ngModel" required />
                            <div *ngIf="f.submitted && !newCategory.valid" class="text-danger">Please input category name</div>
                        </div>
                        
                        <button class="btn btn-fab btn-add-category">
                            <i class="material-icons mdi mdi-check">
                            </i>
                        </button>
                        <a class="btn btn-fab btn-cancel-add-category" (click)="toggleAddingCategory()">
                            <i class="material-icons mdi mdi-close">
                            </i>
                        </a>
                    </form>
            <div class="clearfix"></div>
        </li>

        
        <li *ngFor="let cate of categories">
            <a *ngIf="ownCategory && !cate.updatingCategory" class="link-category"  [routerLink]="['/ownpost',cate.categoryId]">{{cate.categoryName}}</a>
            <a *ngIf="!ownCategory" class="link-category"  [routerLink]="['/home',cate.categoryId]">{{cate.categoryName}}</a>
            <form *ngIf="ownCategory && cate.updatingCategory" class="absform" name="form" (ngSubmit)="f.form.valid && saveUpdateCategory(cate)" #f="ngForm" novalidate>
                    <div class="form-group">
                        <input placeholder="Update category" name="updateCategory" [(ngModel)]="cate.categoryName" #updateCategory="ngModel" required class="form-control update-category" />
                        <div *ngIf="f.submitted && !updateCategory.valid" class="text-danger">Please input category name</div>
                    </div>
                    <button class="btn btn-fab btn-small action-update-category">
                        <i class="material-icons mdi mdi-check">
                        </i>
                    </button>
                    <a class="btn btn-fab btn-small action-cancel-update-category" (click)="toggleUpdatingCategory(cate,false)">
                        <i class="material-icons mdi mdi-close">
                        </i>
                    </a>
                </form>
                <div *ngIf="ownCategory" class="manage-category">
                    <a class="btn btn-fab btn-small edit-category"  (click)="toggleUpdatingCategory(cate,true)">
                        <i class="material-icons mdi mdi-pencil">
                        </i>
                    </a>
                    <a data-categoryid="@item.CategoryId" class="btn btn-fab btn-small delete-category" (click)="saveDeleteCategory(cate)">
                        <i class="material-icons mdi mdi-close">
                        </i>
                    </a>
                </div>
        </li>
    </ul>
</aside>
