<section class="Material-blog-post-page section-padding">
  <div class="container">
      <div class="row">

          <div class="single-blog-page col-md-12 col-lg-8 col-xs-12">
              <article class="single-post wow fadeInUp animated animated animated" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">

                <a *ngIf="isOwner" [routerLink]="['/managepost',entry.postId]"  class="mt-3 btn btn-common float-right">Edit<div class="ripple-container"></div></a>


                  <h2>{{entry.title}}</h2>
                  <div [innerHtml]="entry.content"></div>
                  <div class="single-post-meta">
                      <div class="post-tag">
                          
                        <a [routerLink]="['/home',cate.categoryId]" *ngFor="let cate of entry.categories"><i class="material-icons mdi mdi-bookmark-outline"></i>{{cate.categoryName}}</a>

                      </div>

                  </div>
              </article>
              <app-comment></app-comment>
             
          </div>

          <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">

              <!-- <vc:author></vc:author> -->

              <app-categories></app-categories>

          </div>

      </div>
  </div>
</section>