<header id="header">
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar nav-bg">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand"  routerLink="/home"><img src="assets/images/logo.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-flag icon-large"></i><span>Language</span>
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item"  asp-controller="Home" asp-action="SetLanguage" asp-route-culture="vi-VN">Vietnamese</a>
                          <a class="dropdown-item"  asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US">English</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link" routerLink="/home">
                          <i class="mdi mdi-home icon-large"></i> <span>Home</span>
                      </a>

                  </li>
                  <li *ngIf="loggedIn; else loggedInTemplate" class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-account icon-large"></i><span>{{displayName}}</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/managepost" title="Manage"><i class="mdi mdi-pen icon-large"></i><span class="icon-description">New Entry</span></a>
                            <a class="dropdown-item" routerLink="/ownpost"><i class="mdi mdi-history icon-large"></i><span class="icon-description">Posts and Categories</span></a>
                            <a class="dropdown-item" routerLink="/profile" title="Manage"><i class="mdi mdi-file-image icon-large"></i><span class="icon-description">Profile</span></a>
                            <a class="dropdown-item" (click)="logout()" title="Manage"><i class="mdi mdi-exit-to-app icon-large"></i><span class="icon-description">Log out</span></a>
                            
                        </div>
                    
                    
                  </li>
                  <ng-template #loggedInTemplate>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-account icon-large"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/login">Login</a>
                                <a class="dropdown-item" routerLink="/register">Register</a>
                            </div>
                            </li>
                    </ng-template>
              </ul>
              <div class="search-icon">
                  <span class="open-search">
                      <i class="mdi mdi-magnify btn btn-common"></i>
                  </span>
              </div>
              <div role="search" class="navbar-form">
                  <div class="container">
                      <div class="row">
                          <div class="form-group has-feedback is-empty">
                              <input type="text" placeholder="Type and search ..." class="form-control">
                              <div class="close"><i class="mdi mdi-close"></i></div>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
      </div>

  </nav>
</header>

<section class="page-title-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="title-center">
                  <div class="title-middle">
                      <h2 class="page-tagline">Tell us your stories</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<router-outlet></router-outlet>

<footer class="page-footer center-on-small-only  pt-0 footer-widget-container">
  
  <div class="footer-copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <p>© 2018 Material Studio, All right reserved. Designed with <i class="mdi mdi-heart"></i> by <a href="http://preview.uideck.com/items/material-demo/blog.html#">UIdeck</a></p>
              </div>
          </div>
      </div>
  </div>
</footer>

<a href="http://preview.uideck.com/items/material-demo/blog.html#" class="back-to-top">
  <div class="ripple-container"></div>
  <i class="mdi mdi-arrow-up">
  </i>
</a>
<div id="preloader" style="display: none;">
  <div class="loader" id="loader-1"></div>
</div>