﻿@{
    ViewData["Title"] = "Index";
    Layout = null;
}

@inject SignInManager<ApplicationUser> SignInManager
@inject BlogEngine.Services.UserExtendManager UserManager

<!DOCTYPE html>
<!-- saved from url=(0055)http://preview.uideck.com/items/material-demo/blog.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Engine</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/materialdesignicons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/material.min.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/assets/css/ripples.min.css")">*@
    <link rel="stylesheet" href="@Url.Content("~/assets/css/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/slicknav.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/color-switcher.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/colors/indigo.css")" media="screen">
    <link rel="stylesheet" id="colors" href="@Url.Content("~/assets/css/colors/indigo.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery.magicsearch.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/summernote.css")">
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar nav-bg">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="@Url.Content("~/assets/images/logo.png")" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-flag icon-large"></i><span>@localizer["Language"]</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"  asp-controller="Home" asp-action="SetLanguage" asp-route-culture="vi-VN">@localizer["Vietnamese"]</a>
                                <a class="dropdown-item"  asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US">@localizer["English"]</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/">
                                <i class="mdi mdi-home icon-large"></i> <span>@localizer["Home"]</span>
                            </a>

                        </li>
                        <li class="nav-item dropdown">

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a id="welcomeLink" class="nav-link dropdown-toggle" href="http://preview.uideck.com/items/material-demo/blog.html#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-account icon-large"></i><span>@await UserManager.GetFullNameOrEmailAsync(User)</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-page="/Posts/Create" title="Manage"><i class="mdi mdi-pen icon-large"></i><span class="icon-description">@localizer["New Entry"]</span></a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Posts/Index"><i class="mdi mdi-history icon-large"></i><span class="icon-description">@localizer["Posts"] (@await UserManager.CountUserPostsAsync(User)) @localizer["and"] @localizer["Categories"] </span></a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="mdi mdi-file-image icon-large"></i><span class="icon-description">@localizer["Profile"]</span></a>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                        <button class="dropdown-item btn btn-normal" type="submit"><i class="mdi mdi-exit-to-app icon-large"></i><span class="icon-description">@localizer["Log out"]</span></button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle" href="http://preview.uideck.com/items/material-demo/blog.html#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-account icon-large"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login">@localizer["Login"]</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">@localizer["Register"]</a>
                                </div>
                            }


                        </li>
                    </ul>
                    <div class="search-icon">
                        <span class="open-search">
                            <i class="mdi mdi-magnify btn btn-common"></i>
                        </span>
                    </div>
                    <form role="search" class="navbar-form">
                        <div class="container">
                            <div class="row">
                                <div class="form-group has-feedback is-empty">
                                    <input type="text" placeholder="Type and search ..." class="form-control">
                                    <div class="close"><i class="mdi mdi-close"></i></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </nav>
    </header>

    <section class="page-title-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-center">
                        <div class="title-middle">
                            <h2 class="page-tagline">@localizer["Tell us your stories"]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderBody()


    <footer class="page-footer center-on-small-only  pt-0 footer-widget-container">
        

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>© 2018 Material Studio, All right reserved. Designed with <i class="mdi mdi-heart"></i> by <a href="http://preview.uideck.com/items/material-demo/blog.html#">UIdeck</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="http://preview.uideck.com/items/material-demo/blog.html#" class="back-to-top">
        <div class="ripple-container"></div>
        <i class="mdi mdi-arrow-up">
        </i>
    </a>
    <div id="preloader" style="display: none;">
        <div class="loader" id="loader-1"></div>
    </div>

    <script data-cfasync="false" src="@Url.Content("~/assets/js/email-decode.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.hotkeys.js")"></script>
    <script src="@Url.Content("~/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/color-switcher.js")"></script><div id="color-style-switcher"><div><h3>Colors</h3><ul class="colors"><li><a class="color1 active" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li><li><a class="color2" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li><li><a class="color3" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li><li><a class="color4" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li><li><a class="color5" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li><li><a class="color6" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li><li><a class="color7" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li><li><a class="color8" href="http://preview.uideck.com/items/material-demo/blog.html#"></a></li></ul></div><div class="bottom"> <a href="http://preview.uideck.com/items/material-demo/blog.html#" class="settings"><i class="mdi mdi-settings"></i></a> </div></div>
    <script src="@Url.Content("~/assets/js/jquery.mixitup.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.inview.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.counterup.min.js")"></script>
    <script src="@Url.Content("~/assets/js/scroll-top.js")"></script>
    <script src="@Url.Content("~/assets/js/smoothscroll.js")"></script>
    <script src="@Url.Content("~/assets/js/material.min.js")"></script>
    @*<script src="@Url.Content("~/assets/js/ripples.min.js")"></script>*@
    <script src="@Url.Content("~/assets/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/assets/js/wow.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.vide.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.slicknav.js")"></script>


    <script src="@Url.Content("~/assets/js/summernote.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.magicsearch.js")"></script>


    <script src="@Url.Content("~/assets/js/main.js")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
