﻿@model IEnumerable<BlogEngine.Models.ContentViewModels.Category>
    <aside class="col-md-12 single-sidebar-widget flickr-widget no-padding wow animated fadeInUp" data-wow-delay=".4s" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
        <div class="sidebar-widget-title">
            <h2>
                <span>@localizer["Categories"]</span>
                @if (ViewBag.AllowManage)
                {
                    <a class="btn btn-fab add-category">
                        <i class="material-icons mdi mdi-plus">
                        </i>
                    </a>
                }

            </h2>
           
        </div>
        <ul class="categories-list">
            <li>
                <form id="newCategoryForm" style="display:none;">
                    <div class="form-group label-floating ">
                        <input id="newCategory" placeholder="Input new category" required class="form-control width82per" />
                    </div>
                    <a class="btn btn-fab btn-add-category">
                        <i class="material-icons mdi mdi-check">
                        </i>
                    </a>
                    <a class="btn btn-fab btn-cancel-add-category">
                        <i class="material-icons mdi mdi-close">
                        </i>
                    </a>
                </form>
                <div class="clearfix"></div>
            </li>
            @foreach(var item in Model){
            <li>
                <a asp-controller="BlogList" class="link-category" asp-action="ViewByCategory" asp-route-id="@item.CategoryId">@item.CategoryName (@item.Posts.Count)</a>
                @if (ViewBag.AllowManage)
                {
                <form class="absform" style="display:none;">
                    <div class="form-group">
                        <input placeholder="Update category" name="updateCategory" data-categoryid="@item.CategoryId" required class="form-control update-category" />
                    </div>
                    <a class="btn btn-fab btn-small action-update-category">
                        <i class="material-icons mdi mdi-check">
                        </i>
                    </a>
                    <a class="btn btn-fab btn-small action-cancel-update-category">
                        <i class="material-icons mdi mdi-close">
                        </i>
                    </a>
                </form>
                <div class="manage-category">
                    <a class="btn btn-fab btn-small edit-category ">
                        <i class="material-icons mdi mdi-pencil">
                        </i>
                    </a>
                    <a data-categoryid="@item.CategoryId" class="btn btn-fab btn-small delete-category">
                        <i class="material-icons mdi mdi-close">
                        </i>
                    </a>
                </div>
                }
            </li>
            }

        </ul>
    </aside>
