﻿@using BlogEngine.Constants
@model List<BlogEngine.Models.ContentViewModels.Posts>
<section class="Material-blog-post-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 col-xs-12 blog-post-column">
                <div class="row">

                  @Html.Partial("Partials/PostItem",Model)


                    <div class="col-md-12 text-center mt-3 blog-pagination wow animated fadeInUp" data-wow-delay=".4s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
                        <a href="javascript:void(0)" class="btn btn-common"><i class="material-icons mdi mdi mdi-autorenew"></i> Load More Stories<div class="ripple-container"></div></a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">

                <vc:dock-category allow-manage="false"  top-category="CommonConstant.DefaultMaximumLoadedCategory"></vc:dock-category>

            </div>

        </div>
    </div>
</section>